body {
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.navigation-container {
    background-color: #1f2937;
    color: white;
    font-size: 18px;
    display: flex;
    align-items: center;
    height: 72px;
    padding: 20px 0px 20px 100px;
}

.nav-logo {
    margin-right: auto;
    padding-left: 120px;
    font-size: 28px;
    color: #f9faf8;
}

.nav-items-right {
    display: flex;
    margin-left: auto;
    padding: 0px 140px 0px 0px;
}
.nav-item {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    padding: 10px;
}

.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 90px;
    background-color: #1f2937;
    color: #f9faf8;
}

.hero-content {
    flex-basis: 400px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 90px;
}

.hero-title {
    font-size: 48px;
    font-weight: 900;

}

.hero-description {
    color: #E5E7EB;
    font-size: 18px;
}

.hero-img {
    width: 500px;
    height: 350px;
}

.hero-btn {
    display: block;
    text-align: center;
    width: 110px;
    border: none;
    border-radius: 8px;
    background-color: rgb(97, 176, 255);
    color: white;
    padding: 8px;
}

.img-gallery-container {
    align-items: center;
    padding-top: 50px;
    padding-bottom: 100px;
}

.gallery-wrapper {
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
    
}

.gallery-item {
    width: auto;
    height: 300px;
    border: 2px solid rgb(97, 176, 255);
    border-radius: 5%;
}

.quote-section {
    background-color: #bfc0c2;
    padding: 200px;

}
.quote {
    font-size: 32px;
}

.card {
    background-color: rgb(97, 176, 255);
    margin: 130px 100px 130px 100px;
    border-radius: 8px;
    padding: 40px 50px;
    display: flex;
    color: white;
    align-items: center;
}

.card-item {
    flex: 1;
}


.card-content {
    text-align: left;
    
}

.call-btn {
    align-self: flex-end;
  
}

.p {
    opacity: 0.7;
    
}

.call-btn {
    padding: 10px 30px;
    width: 110px;
    border: 2px solid #fff;
    border-radius: 8px;
    background-color: rgb(97, 176, 255);
    color: #fff;
    padding: 8px;
}

.footer {
    background-color: #1f2937;
    color: #fff;

}