body {
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
}

.navigation-container {
    background-color: #1f2937;
    color: white;
    font-size: 18px;
    display: flex;
    text-align: center;
}

.nav-items-right {
    display: flex;
    justify-content: space-between;
}
.nav-item {
    list-style-type: none;
    flex: 1;

}