body {
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.navigation-container {
    background-color: #1f2937;
    color: white;
    font-size: 18px;
    display: flex;
    align-items: center;
    height: 72px;
    padding: 20px 0px 20px 100px;
}

.nav-logo {
    margin-right: auto;
    padding-left: 20px;
    font-size: 28px;
    color: #f9faf8;
}

.nav-items-right {
    display: flex;
    margin-left: auto;
    padding: 0px 100px 0px 0px;
}
.nav-item {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    padding: 10px;

}